{
  "presets": [
    "es2015",
    "react",
    "survivejs-kanban",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
